@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.home_img {
  margin: 0 auto;
  padding: 10px;
}
